<%- include ("partials/header") %>

    <!-- slider Area Start-->
    <div class="slider-area">
      <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/assets/img/hero/contact_hero.jpg" >
          <div class="container">
              <div class="row ">
                  <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                      <div class="hero-caption">
                          <span>Room</span>
                          <h2>Single Room</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 <!-- slider Area End-->

   <!--================Room Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img src="/admin/files/<%- room.picture %>" alt="Room Image" width="100%" height="">
                  </div>
                  <div class="blog_details">
                     <h2><%- room.name %>
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><!--<i class="fa fa-user"></i>-->Price: Le <%- room.price %> Per Night</a></li>
                        <!-- <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li> -->
                     </ul>
                     <p class="excert">
                        <%- room.description %>
                     </p>

                     <p>
                        <% if(room.status === "Reserved" && user._id.toString !== room.customer.toString){ %>
                           <%- user._id %> <br>
                           <%- typeof(room.customer) %> <br>
                           Room Has Been Reserved By Someone
                        <% } else if(room.status === "Reserved" && user._id.toString === room.customer.toString) { %>
                           <form action="/reserve/<%- room.id %>/cancel" method="POST">
                              <button class="button button-contactForm boxed-btn">Cancel Reservation</button>
                           </form> <br>

                           <a href="/booking/<%- room._id %>">
                              <button class="button button-contactForm boxed-btn">Book Now</button>
                           </a>
                        <% } else {%>
                           <form action="/reserve/<%- room.id %>" method="POST">
                              <div class="col-sm-6">
                                    <div class="form-group">
                                       <label for="from">From
                                          <input class="form-control valid" name="from" id="from" type="date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'From'" placeholder="From">
                                       </label>
                                    </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label for="to">To
                                       <input class="form-control valid" name="to" id="to" type="date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'To'" placeholder="To">
                                    </label>
                                 </div>
                              </div>
                              <button class="button button-contactForm boxed-btn">Reserve Room</button>
                           </form>
                        <% } %>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

<%- include ("partials/footer") %>
